* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    background-color: black;
    color: white;
}

header {
    text-align: center;
    margin-top: 20px;
}

nav {
    width: fit-content;
    margin: 40px auto 0 auto;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid white;
    border-radius: 6px;
    transition: background 0.3s, color 0.3s;
    display: inline-block;
}

nav ul li a:hover {
    background: white;
    color: black;
}

main {
    text-align: left;
    margin-left: 40px;
    margin-top: 20px;
    margin-right: auto;
    max-width: 500px;
}

table {
    margin-top: 20px;
    border: 2px solid white;
    border-collapse: collapse;
    margin-left: 40px;
    margin-right: auto;
}

#kalkulator {
    display: block;
    margin-left: 40px;
    margin-top: 40px;
    max-width: 500px;
}

.kalkulator-form {
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}

.wymiana {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}